h1 {
    text-align: center;

}

.quiz-container {
    background-color: darkgray;
    height: 300px;
    margin-top: 50px;
    width: 500px;
    text-align: center;
    margin: auto;
    font-family: cursive;
}

#submit {
    text-align: center;
    height: 50px;
    width: 100px;
    background-color: green;
    color: white;
    font-family: cursive;
}
#results, h1, #time {
    font-family: cursive;
}



#start {
    text-align: center;
    height: 50px;
    width: 100px;
    background-color: green;
    color: white;
    font-family: cursive;
}



